<h1>Edit a room</h1>

<form action="/rooms/{{ room._id }}/edit" method="POST">
    <input type="text" name="name" id="name" value="{{ room.name }}"/>
    <input type="submit" value="Create room">
</form>