<div class="rooms-actions">
    <h1>Manage Rooms</h1> 
    <a href="/rooms/create" class="secondary-button">Add a room</a>
</div>

<div id="rooms">
    {{#each user.rooms}}
        <div class="room">
            <div class="card-header">
                <h2>{{ this.name }}</h2>
                <div class="room-actions">
                    <a href="/rooms/{{ this._id }}/edit"><i class="bi bi-pencil-square"></i></a>
                </div>
            </div>
            <p class="stats">
                <span class="stats-plants">{{ this.plants.length }} plants</span>
            </p>
            <div id="card-invitees">
                {{#each this.inviteesId}}
                    <div class="card-invitee" style="background-image:url('{{ this.avatarUrl }}"></div>
                {{/each}}
            </div>
        </div>
    {{/each}}
</div>