<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="/images/home/Screen1.png" class="image-overlay d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2>Sow your seeds</h2>
        <p>OnlyPlants allows you to create virtual environments where you can keep track of your plant babies anywhere in the world!</p>
      </div>
    </div>
     <div class="carousel-item" data-bs-interval="10000">
      <img src="/images/home/Screen1.png" class="image-overlay d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2>From thick trees to petite plants</h2>
        <p>Our database of over 300 plants contains everything you and your friends need to know to care for your vegetation!</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img src="/images/home/Screen1.png" class="image-overlay d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2>Hook up with other plant lovers</h2>
        <p>Invite friends and plantsitters to see your rooms and get life-saving info on your plants at a glance!</p>
      </div>
    </div>  
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>