@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, html {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 14px;
  cursor: default;
}

a, a > *, button, button > *, input, .room-actions > * {
  cursor: pointer;
}

body {
  padding: 50px;
  background-color: #f1f1f1;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 20px;
}

i {
  display: inline-block;
  color: #F29171;
}

a {
  color: #6e9887;
}

a:hover {
  color: #b5bfa1;
}

ul {
  padding: 0;
}

nav {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

nav li {
 display: inline-block;
}

nav li + li {
  padding-left: 15px;
}

a.button, input[type="submit"].button {
  background-color: #6e9887;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
  line-height: auto;
  border: 0;
}

a.button:hover, input[type="submit"].button:hover {
  background-color: #b5bfa1;
}


/* PROFILE */

.profile {
  display: flex;
}

.profile-infos {
  padding: 30px;
}

.profile-pic {
  width: 180px;
  height: auto;
  border-radius: 50%;
  background-color: white;
}

/* ROOMS */

#datalist-users-list {
  background-color: white;
  margin-top: 0;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px;
}

.datalist-user {
  padding: 15px;
  display: flex;
  align-items: center;
}

#datalist-users-list .datalist-user-pic {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

#datalist-users p + p {
  margin-left: 10px;
}

.invitee {
  display: inline-block;
  margin-top: 10px;
  padding: 6px 12px;
  color: #333;
  background-color: #b0cec2;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
}

/* .invitee::after {
  content: "\F659";
  padding-left: 6px;
} */

.invitee i {
  display: inline-flex;
  align-items: center;
  color: #333;
  padding: 1px 0 0 4px;
  margin: 0;
}

.room {
  background-color: white;
  padding: 30px;
  display: flex;
  width: 30%;
  border-radius: 4px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.room-actions {
  display: flex;
  align-items: baseline;
}

.room-actions a, .room-actions button {
  display: inline-block;
  padding-top: -10px;
  margin-top: -30px;
  border: 0;
  background-color: transparent;
  padding-left: 20px;
}

.room-actions i {
  font-size: 1.8rem;
}

.room-actions div + div, .review-actions div + div {
  margin-left: 15px;
}

label {
  display: block;
  margin-top: 30px;
  padding-bottom: 8px;
}

input[type="text"], input[type="password"], input[type="email"], textarea {
  display: block;
  border: 0;
  min-width: 500px;
  padding: 15px;
  border-radius: 4px;
}

textarea {
  height: 150px;
}