@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

*, html {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 14px;
  cursor: default;
}

a, a > *, button, button > *, input, .room-actions > * {
  cursor: pointer;
}

body {
  padding: 50px;
  background-color: #f1f1f1;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 10px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 20px;
}

i {
  display: inline-block;
  color: #F29171;
}

a {
  color: #6e9887;
}

a:hover {
  color: #b5bfa1;
}

ul {
  padding: 0;
}

nav {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

nav li {
 display: inline-block;
}

nav li + li {
  padding-left: 15px;
}

.button {
  background-color: #6e9887;
  padding: 12px 20px;
  color: white;
  text-decoration: none;
  line-height: auto;
  border: 0;
}

.button:hover {
  color: white;
  background-color: #b5bfa1;
  cursor: pointer;
}

label.button { width: fit-content; }
label i.bi-upload { color: white; padding-right: 12px; }
input[type="file"] { display: none; }

/* SIGNUP */

.error-message {
  max-width: 500px;
  background-color: #F29171;
  padding: 20px;
  border-radius: 4px;
  color: white;
  min-width: 500px;
  margin-top: 20px;
  margin-bottom: 30px;
  width: fit-content;
}

/* PROFILE */

.profile {
  display: flex;
  align-items: flex-start;
}

.profile-infos {
  width: 100%;
  padding: 0 30px;
}

.edit-profile-form .profile-pic {
  width: 120px;
  height: 120px;
  margin-right: 20px;
}

.edit-profile-form .profile {
  align-items: center;
  margin: 10px 0 20px 0;
}

.autocomplete {
  padding: 20px 0 20px 20px;
  position: absolute;
  display: inline-block;
  background-color: white;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px;
}

.autocomplete p {
  padding: 0;
  margin: 0;
}

.profile-pic {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 180px;
  height: 180px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  /* border-radius: 50%; */
  /* background-color: white; */
}

.stats .stats-plants, .stats .stats-rooms {
  background-color: grey;
  border-radius: 4px;
  padding: 4px 8px;
  color: white  ;
}

#filters {
  display: flex;
  align-items: baseline;
  margin: 20px 0;
  padding: 25px 0;
}

#filters p {
  text-transform: uppercase;
  letter-spacing: .5px;
}

#filters div + div {
  margin-left: 30px;
}

#filters .filter-button {
  padding: 12px 20px;
  color: #F29171;
  text-decoration: none;
  line-height: auto;
}

#plants {
  display: flex;
  flex-wrap: wrap;
}

#plants div {
  width: 22.8%;
  margin-right: 2vw;
  margin-bottom: 2vw;
  padding: 0 20px 20px;
  border-radius: 4px;
  background-color: white;
}

/* #plants div + div {
  margin-left: 20px;
} */

/* ROOMS */

#rooms {
  display: flex;
  flex-wrap: wrap;
}

#rooms .room, #plants .plant {
  display: flex;
  justify-content: space-between;
  /* min-height: 350px; */
  width: 22.8%;
  margin-right: 2vw;
  margin-bottom: 2vw;
  padding: 0 30px 30px;
  border-radius: 4px;
  background-color: white;
}

#rooms .room.add-room, #plants .plant.add-plant  {
  background-color: transparent;
  padding: 0;
}

#rooms .room.add-room i, #plants .plant.add-room i  {
  font-size: 3rem;
}

.add-room h2, .add-plant h2 {
  padding: 0;
  margin: 0;
}

.add-room a, .add-plant a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  border: 2px solid #F29171;
  text-decoration: none;
  color: #F29171;
}

.add-room a:hover, .add-plant a:hover {}

#datalist-users-list {
  background-color: white;
  margin-top: 0;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px;
}

.datalist-user {
  padding: 15px;
  display: flex;
  align-items: center;
}

#datalist-users-list .datalist-user-pic {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

#datalist-users p + p {
  margin-left: 10px;
}

.invitee {
  display: inline-block;
  margin-top: 10px;
  padding: 6px 12px;
  color: #333;
  background-color: #b0cec2;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
}

/* .invitee::after {
  content: "\F659";
  padding-left: 6px;
} */

.invitee i {
  display: inline-flex;
  align-items: center;
  color: #333;
  padding: 1px 0 0 4px;
  margin: 0;
}

#card-invitees {
  margin-top: 20px;
  margin-left: 20px;
}

.card-invitee {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 3px solid white;
  margin-left: -20px;
}

.room-actions {
  display: flex;
  align-items: baseline;
  margin-top: 23px;
}

.room-actions a, .room-actions button {
  display: inline-block;
  border: 0;
  background-color: transparent;
}

.room-actions i {
  font-size: 1.8rem;
}

.room-actions * + * {
  margin-left: 15px;
}

label {
  display: block;
  margin-top: 10px;
  padding-bottom: 8px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="date"], textarea {
  display: block;
  border: 0;
  min-width: 500px;
  padding: 15px;
  border-radius: 4px;
}

textarea {
  height: 150px;
}