<div id="create-plant-page">

  <h1>Add a plant</h1>

  <form action="/plants/create" method="POST" enctype="multipart/form-data">
    <label>
      Name:
      <input type="text" name="name" />
    </label>
    <label>
      Nickname:
      <input type="text" name="nickname" />
    </label>
    <label for="room">
      New plant's home:
    </label>
    <select name="room">
      {{#each rooms}}
        <option value="{{id}}">{{name}}</option>
      {{/each}}
    </select>
    <br>
   <div>
    <label for="avatar">Add a picture of your plant:</label><br/>
    <label for="avatar" class="secondary-button" style="text-align: center;"><i class="bi bi-upload"></i> Upload</label>
    <input type="file" name="avatar" id="avatar" /><br />
    </div>
    <br/>
    <button type="submit" class="button primary-button">Add Plant</button>
  </form>

</div>
